public/.DS_Store
public/node_modules/
public//dist/
public/npm-debug.log*
public/yarn-debug.log*
public/yarn-error.log*
public/test/unit/coverage/
public/test/e2e/reports/
public/selenium-debug.log

functions/node_modules/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
